Django==4.2.10
django-cryptography>=1.1
django-file-md5>=1.0.3
django-formtools>=2.1
django-encrypted-files==0.0.10
django-otp==1.2.2
django-otp-yubikey==1.0.1
phonenumbers==8.13.15
django-phonenumber-field==6.1.0
django-random-filestorage>=0.1.0
django-secure>=1.0.2
django-sslserver>=0.22
django-two-factor-auth==1.15
djangorestframework>=3.14.0
djangorestframework-api-key>=2.3.0
Pillow>=10.0.0
django-session-security==2.6.7
python-magic==0.4.27
psutil==5.9.5